* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container {
  width: 400px;
  padding: 28px;
  background: white;
  border-radius: 10px;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #e6e6e6;
  color: black;
}

input::placeholder {
  color: black;
  font-weight: 500;
}

.search-box button {
  width: 46px;
  height: 46px;
  background-color: #e6e6e6;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
.search-box button:hover {
  background-color: #d4d4d4;
  color: white;
}
.weather-body img {
  width: 60%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.weather-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
}
.weather-box {
  margin-block: 10px;
  text-align: center;
}
.weather-box .temperature {
  font-size: 48px;
  font-weight: 700;
  color: black;
  position: relative;
}

.weather-box .temperature sup {
  position: absolute;

  font-size: 24px;
  font-weight: 600;
}
.weather-box .description {
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
}
.weatherDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.humidity,
.wind {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: flex;
  align-items: center;
}
.weatherDetails i {
  font-size: 36px;
}
.weatherDetails .text {
  margin-left: 8px;
  font-size: 16px;
}
.text span {
  font-weight: 600;
}
.location-not-found {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-not-found h1 {
  color: black;
  margin-bottom: 20px;
  font-size: 20px;
}

.location-not-found img {
  width: 80%;
}
